/* Colors */
:root {
    --color-default: #0a0d13;
    --color-primary: #92e3a9;
    --color-primary-bgw: #68aa76;
    --color-secondary: #0e1d34;
    --color-tertiary: #263238;
}

hr {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/

.events-1 {
    padding-top: 0;
    padding-bottom: 0;
}

.events-2 {
    padding-top: 60px;
    padding-bottom: 0;
}

.events .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
}

.events .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.events .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.events .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
}

.events .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.events .card-title a {
    color: #37423b;
    transition: 0.3s;
}

.events .card-text {
    color: #5e5e5e;
}

.events .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}

.events .read-more a:hover {
    color: #5fcf80;
}

.events .card:hover img {
    transform: scale(1.1);
}

.events .card:hover .card-body {
    border-color: #5fcf80;
}

.events .card:hover .card-body .card-title a {
    color: #5fcf80;
}

/*--------------------------------------------------------------
# Banner Stallman
--------------------------------------------------------------*/

.banner-stallman-section {
    padding-top: 0;
    padding-bottom: 0;
}

.banner-stallman-section .container {
    height: 420px;
    background-image: url("../img/Stallman-Banner-bg.jpg");
    background-position-x: right;
    background-position-y: center;
    background-size: cover;
    border-radius: 15px;
}

.banner-stallman-section .container h4 {
    color: #fff;
}

.banner-stallman-section .container p {
    color: #fff;
}

.row {
    height: 100%;
}

.title-content-bn {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.title-content-bn {
    border-radius: 15px 0 0 15px;
}

@media (max-width: 576px) {
    .title-content-bn {
        height: 50%;
    }
    .title-content-bn {
        border-radius: 0 0 15px 15px;
    }
}

/*--------------------------------------------------------------
# Video- Stallman
--------------------------------------------------------------*/

.video-stallman-section {
    padding-top: 0;
}

/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/
#free-cases {
    padding-top: 0;
    padding-bottom: 40px;
}

#free-cases .faq-list {
    padding: 0;
    list-style: none;
}

#free-cases .faq-list li {
    border-bottom: 1px solid #e9eaed;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#free-cases .faq-list .question {
    display: block;
    position: relative;
    font-family: var(--color-primary-bgw);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: var(--color-primary-bgw);
    transition: 0.3s;
}

#free-cases .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

#free-cases .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

#free-cases .faq-list .icon-show {
    display: none;
}

#free-cases .faq-list .collapsed {
    color: black;
}

#free-cases .faq-list .collapsed:hover {
    color: var(--color-primary-bgw);
}

#free-cases .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
}

#free-cases .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
}

.why-us-free {
    padding-top: 60px;
    padding-bottom: 60px;
}
