.superpc-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.superpc-title .section-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*--------------------------------------------------------------
# Video1 superpc Section
--------------------------------------------------------------*/
.video-1superpc-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.video-1superpc-section .container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/superpc-video1.jpg") center center;
    background-size: cover;
    padding: 100px 60px;
    border-radius: 15px;
    overflow: hidden;
}

.video-1superpc-section h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.video-1superpc-section p {
    color: #fff;
    margin-bottom: 20px;
}

.video-1superpc-section .play-btn {
    width: 94px;
    height: 94px;
    margin-bottom: 20px;
    background: radial-gradient(var(--color-primary) 50%, rgba(0, 131, 116, 0.4) 52%);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.video-1superpc-section .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(0, 131, 116, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.video-1superpc-section .play-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.video-1superpc-section .play-btn:hover:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
}

.video-1superpc-section .play-btn:hover:after {
    border-left: 15px solid var(--color-primary);
    transform: scale(20);
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*  */

.text-img-pc-2 {
    /* border: 2px solid red; */
    margin: 60px auto;
}

.text-img-pc-2 .row2 {
    margin-top: 60px;
}

hr {
    margin: 0;
    padding: 0;
}

.why-us-superpc {
    padding-top: 60px;
    padding-bottom: 60px;
}

.superpc-last-text {
    margin-bottom: 0;
}

.superpc-last-text p {
    margin-bottom: 0;
}
